<div class="container-fluid">
  <% @feed.entries.each_slice(2) do |entries| %>
    <div class="row">
      <% entries.each do |entry| %>
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="entry-container">
              <div class="row">
                <a href="#" data-toggle="modal" data-target="<%= "#entry_full_content" + entry.id.to_s %>">
                  <% if entry.img.present? %>
                    <div class="col-xs-6">
                      <div class="entry-img-wrapper">
                        <div class="entry-img" style="background-image: url('<%= entry.img %>')">
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="entry-desc-wrapper-table">
                        <div class="entry-desc-wrapper-cell">
                          <div class="entry-desc__title">
                            <strong><%= entry.title %></strong>
                          </div>
                          <div class="entry-desc__summary">
                            <p class="text-muted"><%= entry.decorate.short_heading %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <div class="col-md-12">
                      <div class="entry-desc-wrapper-table">
                        <div class="entry-desc-wrapper-cell">
                          <div class="entry-desc__title--without-img">
                            <strong><%= entry.title %></strong>
                          </div>
                          <div class="entry-desc__summary--without-img">
                            <p class="text-muted"><%= entry.decorate.long_heading %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </a>
                <div class="modal modal-entry-container" id="<%= "entry_full_content" + entry.id.to_s %>">
                  <div class="modal-dialog modal-dialog-entry-container">
                    <div class="modal-content">
                      <div class="modal-header modal-header-entry">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body modal-body-entry">
                        <div class="modal-entry">
                          <div class="modal-entry__title">
                            <strong><%= entry.title %></strong>
                          </div>
                          <% if entry.img.present? %>
                            <div class="modal-entry__img">
                              <%= image_tag entry.img %>
                            </div>
                          <% end %>
                          <div class="modal-entry__content">
                            <%#= raw(entry.content_html) %>
                            <%= entry.content %>
                          </div>
                          <div class="modal-entry__link">
                            <%= link_to "元の記事を読む", entry.url, target: :blank %>
                          </div>
                          <% if entry.similar_articles.present? %>
                            <div class="modal-entry__similar-articles">
                              <div class="modal-entry__similar-articles__title">
                                <p><strong>ペリカンのあなたへのオススメ記事!</strong></p>
                              </div>
                              <div class="modal-entry__similar-articles__links">
                                <% entry.similar_articles.each do |similar_article| %>
                                  <p><%= link_to similar_article.title, similar_article.url, target: :blank %></p>
                                <% end %>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="pagination-wrapper">
    <%= paginate @feed %>
  </div>
</div>
