<% Settings.rss.livedoor.each do |category| %>
  <%= link_to category[1][:name], feed_index_path(category: category[0]) %>
<% end %>
<div class="container-fluid">
  <%= @feed.title %>
  <% @feed.entries.each_slice(3) do |entries| %>
    <div class="row">
      <% entries.each do |entry| %>
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div>
              <p><%= link_to entry.title, entry.url %></p>
              <%= raw(entry.summary) %>
              <p><%= raw(entry.content) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


