<div class="sidebar-wrapper">
  <div class="sidebar-logo">
    <%= link_to root_path do %>
      <%= image_tag('share/pelican_64.png') %>
    <% end %>
  </div>
  <ul class="sidebar-list">
    <% Settings.rss.livedoor.each do |category| %>
      <%= link_to(feed_index_path(category: category[0]), class: "sidebar-list__link") do %>
        <li class="sidebar-list__link__item <%= 'active' if params[:category]==category[0].to_s %>">
          <%= category[1][:name] %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
